<div>
<h1><%= @cocktail.name %></h1>
<%= image_tag @cocktail.image_url %>
<ul>
<%  @cocktail.doses.each do |dose| %>
  <li> <%=  dose.description %> <%= dose.ingredient.name %> <%= link_to 'Delete', dose_path(dose), method: :delete %>  </li>
<% end %>
</ul>
</div>

<%= simple_form_for [@cocktail, @dose] do |f| %>
 <%= f.association :ingredient, as: :select %>
<%= f.input :description %>
<%= f.submit %>
<% end %>
